# Dataset - DO NOT UPLOAD
data/cctv/
data/events/
*.mp4
*.avi
*.mkv
*.csv

# Database
*.db

# Python
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.venv/
yolov8n.pt
.coverage
__pycache__/
data/*.db
